h1 {
   width: 100%;
   margin-top: 1em;
   margin-bottom: 1em;
   text-align: center;
   color: #BA55D3;
   font-size: 40pt;
   font-family: sans-serif;
}

#million {
   width: 100%;
   margin-top: 1em;
   margin-bottom: 1em;
   text-align: center;
   color: #BA55D3;
   font-size: 40pt;
   font-family: 'Lobster', cursive;
}

#bubble-chart {
  width: 95%;
  margin: 20px auto;
  height: 500px;
  border: 2px solid #BA55D3;
  border-radius: 5px;
}

#filters {
  width: 58%;
  margin: 0 auto;
  float: left;
}

.filter-button {
  float: right;
}


#search-button {
  margin-left: 1em;
}


body {
  font-family: 'Droid Sans', sans-serif;
  background: url('../images/dark_grey.jpg');
  color:#888;
  padding:0;
  margin:0;
  font-size: 72.5%;
}

p {
  margin-top: 1em;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
   color: #B0E0E6;
   font-size: 20pt;
}

h2 {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
  color: #BA55D3;
  font-size: 20pt;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}

